<div class="filters">
  <form [formGroup]="listFilter.formGroup" (submit)="submitFilters()">
    <div>
      <label>Any Field:&nbsp;</label>
      <input type="text" formControlName="any" />
    </div>
    <div>
      <label>Id:&nbsp;</label>
      <input type="number" formControlName="id" />
    </div>
    <div>
      <label>Title:&nbsp;</label>
      <input type="text" formControlName="title" />
    </div>
    <div>
      <label>Body:&nbsp;</label>
      <input type="text" formControlName="body" />
    </div>
    <button type="submit" [disabled]="!listFilter.formGroup.valid">Pesquisar</button>
    <button type="button" [disabled]="listFilter.disableClean" (click)="listFilter.cleanFilters()">
      Limpar Filtros
    </button>
  </form>
</div>
<br />
<div *ngIf="posts$ | async as posts" class="table">
  <select name="pageSize" id="pageSize" [formControl]="listConfig.sizeControl">
    <option [value]="null">Selecione</option>
    <option *ngFor="let pageSizeOption of listConfig.sizeOptions" [value]="pageSizeOption">{{ pageSizeOption }}</option>
  </select>
  <button (click)="listConfig.prevPage()" [disabled]="posts.first">Prev</button>
  <button (click)="listConfig.nextPage()" [disabled]="posts.last">Next</button>
  <h2>Total: {{ posts.totalElements }} posts!</h2>
  <table class="bootstrap4Table" style="width: max-content;">
    <thead>
      <th id="id" (click)="listConfig.sortChange('id', $event)">
        <div class="sort-right">
          <span>Id</span>
          <app-sort-icon [sortDir]="listConfig.sorts.id"></app-sort-icon>
        </div>
      </th>
      <th id="title" (click)="listConfig.sortChange('title', $event)">
        <div class="sort-right">
          <span>Title</span>
          <app-sort-icon [sortDir]="listConfig.sorts.title"></app-sort-icon>
        </div>
      </th>
      <th id="body" (click)="listConfig.sortChange('body', $event)">
        <div class="sort-right">
          <span>Body</span>
          <app-sort-icon [sortDir]="listConfig.sorts.body"></app-sort-icon>
        </div>
      </th>
      <th id="action">action</th>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts.content">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>
          <span *ngIf="!post.body || post.body.length <= 150; else sliceText">{{ post.body }}</span>
          <ng-template #sliceText>
            <span> {{ post.body?.slice(0, 150) }}...</span>
          </ng-template>
        </td>
        <td><button [routerLink]="[post.id]">Editar</button></td>
      </tr>
    </tbody>
  </table>
  <button (click)="listConfig.prevPage()" [disabled]="posts.first">Prev</button>
  <button (click)="listConfig.nextPage()" [disabled]="posts.last">Next</button>
</div>
<ng-template #loading>
  Loading stuff...
</ng-template>
